.logosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px var(--small-space);
  place-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--large-space);
}

@media screen and (min-width: 768px) {
  .logosContainer {
    grid-template-columns: repeat(5, 1fr);
    width: var(--desktop-medium);
    gap: 72px var(--large-space);
  }
}

.logoContainer {
  max-height: 42px;
  max-width: 120px;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 30px;
}

@media screen and (min-width: 768px) {
  .logo {
    max-height: 30px;
  }
}
