.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 72px var(--xl-space);
  width: 100%;
  background-color: var(--dark-grey);

  & h5 {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  h5 {
    width: 66%;
  }
}
