@import 'variables';

.expertiseCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: $large-space 0;
  margin-top: $xl-space;
}

@media screen and (min-width: 768px) {
  .expertiseCardsContainer {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: $xl-space;
  }
}

.expertiseCard {
  background-color: $light-stone;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  align-items: start;
  justify-items: start;
  gap: $small-space 0;

  & p {
    color: $black;
    text-align: left;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .expertiseCard {
    display: grid;
    grid-template-rows: 60px 120px 120px 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .expertiseCard {
    display: grid;
    grid-template: 1fr 3fr / 1fr 2fr;
    padding: $large-space;
    align-items: start;
    justify-items: start;
  }
}

.expertiseIndex {
  border-bottom: 1px solid $black;
  margin-bottom: $medium-space;
}

@media screen and (min-width: 1024px) {
  .expertiseIndex {
    margin-bottom: 0;
  }
}

.expertiseIcon {
  max-width: 90px;
  margin-bottom: $medium-space;
  margin-right: $small-space;
}

@media screen and (min-width: 1024px) {
  .expertiseIcon {
    width: 78px;
    margin-bottom: 0;
  }
}
