.expertiseCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--large-space) 0;
  margin-top: var(--xl-space);
}

@media screen and (min-width: 1024px) {
  .expertiseCardsContainer {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: var(--xl-space);
  }
}

.expertiseCard {
  background-color: var(--light-stone);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: var(--large-space);
  align-items: start;
  justify-items: start;
  gap: var(--small-space) 0;

  & p {
    color: var(--black);
    text-align: left;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .expertiseCard {
    display: grid;
    grid-template: 1fr 3fr / 1fr 2fr;
    padding: var(--large-space);
    align-items: start;
    justify-items: start;
  }
}

.expertiseIndex {
  border-bottom: 1px solid var(--black);
  margin-bottom: var(--medium-space);
}

@media screen and (min-width: 1024px) {
  .expertiseIndex {
    margin-bottom: 0;
  }
}

.expertiseIcon {
  max-width: 90px;
  margin-bottom: var(--medium-space);
  margin-right: var(--small-space);
}

@media screen and (min-width: 1024px) {
  .expertiseIcon {
    width: 78px;
    margin-bottom: 0;
  }
}
