.container {
  width: 100%;
}

.answerContainer {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 0fr;
  text-align: left;
  transition: grid-template-rows 0.5s, padding 0.1s;
  border: none;
  padding: 0 var(--medium-space);

  &.openAnswer {
    grid-template-rows: 1fr;
    padding: var(--medium-space);
  }

  & p {
    overflow: hidden;
    margin: 0;

    /* &:first-of-type {
      padding-top: var(--medium-space);
    } */

    /* &:last-of-type {
      padding-bottom: var(--medium-space);
    } */
  }
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: var(--small-space) 0;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  cursor: pointer;

  & p {
    text-align: left;
    max-width: 90%;
  }

  :global .large {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .questionContainer {
    & p {
      max-width: none;
    }
  }
}

.chevron {
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
  transition: transform 0.5s;

  &.openChevron {
    transform: rotate(135deg);
  }
}
