@import 'variables';

.container {
  width: 100%;
  position: relative;
}

.answerContainer {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 0fr;
  text-align: left;
  transition: grid-template-rows 0.5s, padding 0.1s;
  border: none;
  padding: 0 $medium-space;
  margin: 0;

  &.openAnswer {
    grid-template-rows: 1fr;
    padding: $medium-space;
    padding-bottom: $xl-space;
  }

  & p {
    overflow: hidden;
    margin: 0;

    /* &:first-of-type {
      padding-top: $medium-space;
    } */

    /* &:last-of-type {
      padding-bottom: $medium-space;
    } */
  }
}

button.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: $small-space 8px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  cursor: pointer;

  & p {
    text-align: left;
    max-width: 90%;
  }

  :global .large {
    margin-bottom: 0;
  }
}

.chevron {
  border-bottom: 1px solid $white;
  border-left: 1px solid $white;
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
  transition: transform 0.5s;
  position: absolute;
  right: 8px;

  &.openChevron {
    transform: rotate(135deg);
  }
}
