@import 'variables';

:root {
  color-scheme: light only;
}

@font-face {
  font-family: 'ABC Normal Regular';
  src: url('../../public/fonts/abcnormal-regular.woff2') format('woff2');
  src: url('../../public/fonts/abcnormal-regular.woff') format('woff');
}

@font-face {
  font-family: 'ABC Normal Book';
  src: url('../../public/fonts/abcnormal-book.woff2') format('woff2');
  src: url('../../public/fonts/abcnormal-book.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: $medium-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &.safariLight {
    background-color: #9c9c9c;
  }

  &.safariDark {
    background-color: $medium-grey;
  }
  video {
    clip-path: inset(1px 1px);
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: $xl-space;

    &.safariLight {
      background-color: #9c9c9c;
    }
  }
}

@media screen and (min-width: 1800px) {
  main {
    padding: $xxl-space;
  }
}

section {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $medium-space;
}

@media screen and (min-width: 1024px) {
  section {
    width: 66%;
    margin-bottom: 200px;
    padding: 0;
  }
}

.section-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 $small-space;
}

@media screen and (min-width: 768px) {
  .section-description {
    max-width: 60%;
  }
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  color: $white;
}

h1 {
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: 'ABC Normal Regular';
  margin-bottom: $small-space;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: clamp(10px, 0.7vw, 24px);
    margin-bottom: 1.2vw;
  }
}

h2 {
  font-family: ivyora-display, sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: $medium-space;
  line-height: 1.2em;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: clamp(66px, 4.2vw, 120px);
    margin-bottom: 3.2vw;
  }
}

h3 {
  font-family: ivyora-text, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 28px;
  color: $dark-stone;
  white-space: pre-wrap;
  position: relative;
  top: -6px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: clamp(22px, 1.4vw, 38px);
  }
}

h4 {
  font-family: ivyora-display, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: $medium-space;
  max-width: $desktop-narrow;
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: clamp(16px, 1.1vw, 30px);
    margin-bottom: 1.6vw;
  }
}

h5 {
  font-family: ivyora-text, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  h5 {
    font-size: clamp(22px, 1.4vw, 36px);
  }
}

@media screen and (max-width: 320px) {
  h5 {
    font-size: 20px;
  }
}

p {
  font-family: 'ABC Normal Book';
  line-height: 1.5em;
  margin-bottom: $xs-space;
  font-size: 15px;
  white-space: pre-wrap;

  &.large {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: $medium-space;
  }

  &.copyright {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: clamp(12px, 0.9vw, 24px);
    margin-bottom: 1.6vw;

    &.large {
      font-size: clamp(16px, 1.2vw, 36px);
    }
  }
}

@media screen and (min-width: 1800px) {
  p {
    &.large {
      margin-bottom: $xxl-space;
    }
  }
}

#expertise {
  & > p.large {
    max-width: 540px;
  }
}

a {
  &.email {
    font-family: ivyora-text, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    line-height: 1.5em;
    text-decoration: underline;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 320px) {
  a {
    &.email {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  a {
    &.email {
      font-size: clamp(22px, 1.4vw, 36px);
    }
  }
}

.centered-text-container {
  max-width: $desktop-narrow;
  margin: 0 auto;
}

.white-container-section {
  background-color: $white;
  padding: 90px $xl-space;
  width: 100vw;

  & > p {
    max-width: $desktop-narrow;
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $black;
  }
}

@media screen and (min-width: 1024px) {
  .white-container-section {
    padding: clamp(120px, 8vw, 240px);
    width: 66%;

    & > h1,
    h2,
    h3,
    h4,
    h5,
    p {
      max-width: clamp(440px, 70%, 840px);
    }
  }
}

.signature-container {
  margin-top: $medium-space;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p {
    margin-bottom: 0;
    line-height: 1.2;
    font-family: 'ABC Normal Regular';
  }
}

.signature {
  margin-top: $medium-space;
  width: clamp(90px, 6vw, 280px);
}

footer {
  background-color: #000;
  display: flex;
  padding: $medium-space;
  justify-content: space-between;
  align-items: center;

  & .footer-logo {
    width: 90px;
  }

  & > p {
    font-family: 'ABC Normal Book';
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: $large-space 90px;

    & .footer-logo {
      width: 60px;
    }

    & > p {
      font-size: clamp(9px, 0.6vw, 14px);
    }
  }
}

@media screen and (min-width: 1800px) {
  footer {
    padding: 48px 120px;

    & .footer-logo {
      width: 90px;
    }
  }
}

@media screen and (min-width: 2400px) {
  footer {
    padding: 60px 180px;

    & .footer-logo {
      width: 120px;
    }
  }
}

.footer-logo {
  opacity: 0.5;
}

.founder-img {
  margin-bottom: $medium-space;
  width: 120px;
}

@media screen and (min-width: 1024px) {
  .founder-img {
    width: 8.4vw;
  }
}
