:root {
  /* Colours */
  --light-stone: #e3e1dd;
  --medium-stone: #c2bcbc;
  --dark-stone: #514d49;
  --medium-grey: #939193;
  --dark-grey: #2b2d30;
  --white: #fff;
  --black: #252324;
  --chalk: #f3f1ea;
  --green: #b6fde3;
  --dark-green: #2e3733;

  /* Spacing */
  --xs-space: 6px;
  --small-space: 12px;
  --medium-space: 24px;
  --large-space: 36px;
  --xl-space: 42px;

  /* Content Space */
  --mobile-narrow: 260px;
  --desktop-narrow: 440px;
  --desktop-medium: 540px;
  --desktop-wide: 900px;
}

@font-face {
  font-family: 'ABC Normal Regular';
  src: url('../../public/fonts/abcnormal-regular.woff2') format('woff2');
  src: url('../../public/fonts/abcnormal-regular.woff') format('woff');
}

@font-face {
  font-family: 'ABC Normal Book';
  src: url('../../public/fonts/abcnormal-book.woff2') format('woff2');
  src: url('../../public/fonts/abcnormal-book.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: var(--medium-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  main {
    padding: var(--xl-space);
  }
}

section {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  section {
    width: 66%;
    margin-bottom: 200px;
  }
}

.section-description {
  max-width: var(--desktop-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--white);
}

h1 {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: 'ABC Normal Regular';
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 10px;
  }
}

h2 {
  font-family: ivyora-display, sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: var(--medium-space);
  line-height: 1.2em;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 66px;
  }
}

h3 {
  font-family: ivyora-text, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 28px;
  color: var(--dark-stone);
  white-space: pre-wrap;
  position: relative;
  top: -6px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 22px;
    line-height: 28px;
  }
}

h4 {
  font-family: ivyora-display, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: var(--medium-space);
  max-width: var(--mobile-narrow);
}

@media screen and (min-width: 768px) {
  h4 {
    max-width: var(--desktop-narrow);
    font-size: 16px;
  }
}

h5 {
  font-family: ivyora-text, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 22px;
  }
}

p {
  font-family: 'ABC Normal Book';
  line-height: 1.5em;
  margin-bottom: var(--xs-space);
  font-size: 15px;
  white-space: pre-wrap;

  &.large {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: var(--medium-space);
  }

  &.copyright {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 12px;

    &.large {
      font-size: 16px;
    }
  }
}

#expertise {
  & > p.large {
    max-width: 540px;
  }
}

a {
  &.email {
    font-family: ivyora-text, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 30px;
    line-height: 1.5em;
    text-decoration: underline;
    color: var(--white);

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  a {
    &.email {
      font-size: 22px;
    }
  }
}

.centered-text-container {
  max-width: var(--desktop-narrow);
  margin: 0 auto;
}

.white-container-section {
  background-color: var(--white);
  padding: 90px var(--xl-space);

  & > h2 {
    margin-bottom: var(--xl-space);
  }

  & > p {
    margin-bottom: var(--medium-space);
    max-width: var(--desktop-narrow);
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: var(--black);
  }
}

@media screen and (min-width: 768px) {
  .white-container-section {
    padding: 120px 0;
  }
}

.signature-container {
  margin-top: var(--medium-space);
  & > p {
    margin-bottom: 0;
    line-height: 1.2;
    font-family: 'ABC Normal Regular';
  }
}

footer {
  background-color: #000;
  display: flex;
  padding: var(--medium-space);
  justify-content: space-between;
  align-items: center;

  & .footer-logo {
    width: 90px;
  }

  & > p {
    font-family: 'ABC Normal Book';
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: var(--large-space) 84px;

    & .footer-logo {
      width: 60px;
    }

    & > p {
      font-size: 9px;
    }
  }
}

.footer-logo {
  opacity: 0.5;
}

.founder-img {
  margin-bottom: var(--medium-space);
}
