:root {
  /* Colours */
  --light-stone: #e3e1dd;
  --medium-stone: #c2bcbc;
  --dark-stone: #514d49;
  --dark-grey: #939193;
  --white: #fff;
  --black: #252324;
  --chalk: #f3f1ea;
  --green: #b6fde3;
  --dark-green: #2e3733;

  /* Spacing */
  --xs-space: 6px;
  --small-space: 12px;
  --medium-space: 24px;
  --large-space: 36px;
  --xl-space: 42px;

  /* Content Space */
  --narrow: 440px;
  --medium: 480px;
  --wide: 900px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--xl-space);
}

section {
  width: 66%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: var(--xl-space);
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: var(--xl-space);
  top: 50vh;

  ul {
    list-style: none;
    padding: 0;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--white);
}

h1 {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: 'ABC Normal Book';
}

h2 {
  font-family: ivyora-display, sans-serif;
  font-weight: 300;
  font-size: 66px;
  margin-bottom: var(--medium-space);
}

h3 {
  /* font family */
  font-size: 30px;
  line-height: 39px;
  color: var(--dark-stone);
}

h4 {
  font-family: ivyora-display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  max-width: var(--narrow);
  margin-bottom: var(--medium-space);
}

h5 {
  font-family: ivyora-text, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

p {
  font-family: 'ABC Normal Book';
  font-size: 12px;
  line-height: 1.5em;
  max-width: var(--narrow);
  margin-bottom: var(--xs-space);

  &.large {
    font-size: 15px;
    line-height: 1.5em;
    max-width: var(--medium);
    margin-bottom: var(--medium-space);
  }

  &.bold {
    /* font-family */
  }

  &.copyright {
    color: rgba(255, 255, 255, 0.5);
  }
}

#expertise {
  & > p.large {
    max-width: 540px;
  }
}

a {
  &.email {
    font-family: ivyora-text, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
    line-height: 1.5em;
    text-decoration: underline;
    color: var(--white);

    &:hover {
      text-decoration: none;
    }
  }
}

.centered-text-container {
  max-width: var(--narrow);
  margin: 0 auto;
}

.white-container-section {
  background-color: var(--white);
  padding: 120px 0;

  & > h2 {
    margin-bottom: var(--xl-space);
  }

  & > p {
    margin-bottom: var(--medium-space);
    max-width: var(--narrow);
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: var(--black);
  }
}

.signature-container {
  & > p {
    margin-bottom: 0;
    line-height: 1.2;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 72px 0;
  background-color: var(--dark-grey);
  width: 100%;
}

footer {
  background-color: var(--black);
  display: flex;
  padding: var(--large-space);
  justify-content: space-between;

  & > p {
    font-family: 'ABC Normal Book';
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
  }
}
