:root {
  /* Colours */
  --light-stone: #e3e1dd;
  --medium-stone: #c2bcbc;
  --dark-stone: #514d49;
  --dark-grey: #939193;
  --white: #fff;
  --black: #252324;
  --chalk: #f3f1ea;
  --green: #b6fde3;
  --dark-green: #2e3733;

  /* Spacing */
  --xs-space: 6px;
  --small-space: 12px;
  --medium-space: 24px;
  --large-space: 36px;
  --xl-space: 42px;

  /* Content Space */
  --narrow: 440px;
  --medium: 540px;
  --wide: 900px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--xl-space);
}

section {
  width: 66%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-description {
  max-width: var(--medium);
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 84px;
  width: 100%;
}

.contact-link-container {
  & > a {
    font-family: 'ABC Normal Book';
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: flex;
  }
}

.contact-link-container::after {
  content: '';
  position: absolute;
  top: 104px;
  width: 70px;
  height: 1px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.contact-link-container:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: var(--xl-space);
  top: 50vh;

  ul {
    list-style: none;
    padding: 0;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--white);
}

h1 {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: 'ABC Normal Book';
}

h2 {
  font-family: ivyora-display, sans-serif;
  font-weight: 300;
  font-size: 66px;
  margin-bottom: var(--medium-space);
}

h3 {
  font-family: ivyora-text, sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  color: var(--dark-stone);
  white-space: pre-wrap;
  position: relative;
  top: -6px;
}

h4 {
  font-family: ivyora-display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  max-width: var(--narrow);
  margin-bottom: var(--medium-space);
}

h5 {
  font-family: ivyora-text, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

p {
  font-family: 'ABC Normal Book';
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: var(--xs-space);

  &.large {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: var(--medium-space);
  }

  &.bold {
    /* font-family */
  }

  &.copyright {
    color: rgba(255, 255, 255, 0.5);
  }
}

#expertise {
  & > p.large {
    max-width: 540px;
  }
}

a {
  &.email {
    font-family: ivyora-text, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
    line-height: 1.5em;
    text-decoration: underline;
    color: var(--white);

    &:hover {
      text-decoration: none;
    }
  }
}

.centered-text-container {
  max-width: var(--narrow);
  margin: 0 auto;
}

.white-container-section {
  background-color: var(--white);
  padding: 120px 0;

  & > h2 {
    margin-bottom: var(--xl-space);
  }

  & > p {
    margin-bottom: var(--medium-space);
    max-width: var(--narrow);
  }

  & > h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: var(--black);
  }
}

.signature-container {
  margin-top: var(--medium-space);
  & > p {
    margin-bottom: 0;
    line-height: 1.2;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 72px 0;
  background-color: var(--black);
  width: 100%;
  background-image: url('../assets/contact-bg.png');
}

footer {
  background-color: #000;
  display: flex;
  padding: var(--large-space) 84px;
  justify-content: space-between;

  & > p {
    font-family: 'ABC Normal Book';
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
  }
}

.footer-logo {
  opacity: 0.5;
}

.founder-img {
  margin-bottom: var(--medium-space);
}

.expertise-cards-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: var(--xl-space);
  margin-top: var(--xl-space);
}

.expertise-card {
  background-color: var(--light-stone);
  border-radius: 3px;
  display: grid;
  grid-template: 1fr 2fr / 1fr 2fr;
  padding: var(--large-space);
  align-items: start;
  justify-items: start;
  height: 380px;

  & p {
    color: var(--black);
    text-align: left;
    display: inline-block;
  }
}

.expertise-index {
  border-bottom: 1px solid var(--black);
}
