@import 'variables';

.header {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;

  & .logo {
    width: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    top: 90px;
    left: 90px;
    position: fixed;

    & .logo {
      width: 60px;
    }
  }
}

.contactLinkContainer {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contactLinkContainer {
    display: flex;
    position: fixed;
    top: 90px;
    right: 90px;

    & > a {
      font-family: 'ABC Normal Book';
      color: $white;
      font-size: 14px;
      text-decoration: none;
      width: 100%;
      display: flex;
    }
  }
}

.contactLinkContainer::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 70px;
  height: 1px;
  background-color: $white;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.contactLinkContainer:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
