.navContainer {
  display: flex;
  position: fixed;
  background-color: var(--medium-grey);
  width: 100%;
  height: 100%;
  padding-top: 120px;
  right: -100%;
  transition: right 300ms;
  z-index: 1;

  &.active {
    right: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    & li {
      display: flex;
      align-items: center;
      height: 44px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      padding: 0 var(--xl-space);

      &:nth-of-type(1) {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }

      &.active {
        & > a {
          color: var(--green);
        }
      }

      & a {
        text-decoration: none;
        color: var(--white);
        font-family: 'ABC Normal Book';
        font-size: 14px;
        line-height: 14px;
        transition: color 0.2s;
        width: 100%;

        &:hover {
          color: var(--green);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: auto;
    height: auto;
    background-color: transparent;
    right: 90px;
    top: 40vh;
    padding-top: 0;

    & ul {
      & li {
        border-bottom: none;
        padding: 0;
        height: 32px;

        & a {
          font-size: 12px;
          line-height: 14px;
        }

        &:nth-of-type(1) {
          border-top: none;
        }
      }
    }

    .sectionMarker {
      width: 6px;
      height: 6px;
      background-color: var(--green);
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -12px;
      transition: top 0.2s;
    }
  }
}

.navIcon {
  width: 35px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
  position: relative;

  & span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--white);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }
}

.navIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media screen and (min-width: 1024px) {
  .navIcon {
    display: none;
  }
}

.navIconContainer {
  position: absolute;
  top: 35px;
  right: 30px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: background-color 200ms;

  &.visible {
    background-color: var(--green);
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .navIconContainer {
    display: none;

    &.visible {
      display: none;
    }
  }
}
