.navContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 90px;
    top: 40vh;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    li {
      display: flex;
      align-items: center;
      height: 32px;

      &.active {
        & > a {
          color: var(--green);
        }
      }

      a {
        text-decoration: none;
        color: var(--white);
        font-family: 'ABC Normal Book';
        font-size: 12px;
        transition: color 0.2s;

        &:hover {
          color: var(--green);
        }
      }
    }

    .sectionMarker {
      width: 6px;
      height: 6px;
      background-color: var(--green);
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -12px;
      transition: top 0.2s;
    }
  }
}
