.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--xl-space);

  & > div {
    &:nth-of-type(1) {
      background-color: var(--dark-green);
    }
    &:nth-of-type(2) {
      background-color: var(--green);

      & > p {
        color: var(--black);
      }
    }
    &:nth-of-type(3) {
      background-color: var(--chalk);

      & > p {
        color: var(--black);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.cardContainer {
  max-width: 360px;
  padding: var(--large-space);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > p {
    text-align: left;
    max-width: var(--desktop-narrow);
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 72px;
  margin: var(--small-space) 0;

  & > img {
    height: 54px;
    max-width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .logoContainer {
    height: 54px;
    & > img {
      height: 30px;
      max-width: 110px;
    }
  }
}

.circle {
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background-color: var(--medium-grey);
}

@media screen and (min-width: 768px) {
  .circle {
    width: 1.2em;
    height: 1.2em;
  }
}

.blurb {
  margin-bottom: var(--small-space);
}

.title {
  text-align: left;
  line-height: 1.2em;
  margin-bottom: 0;
  font-family: 'ABC Normal Regular';
}
