// Colours
$light-stone: #e3e1dd;
$medium-stone: #c2bcbc;
$dark-stone: #514d49;
$medium-grey: #929292;
$dark-grey: #2b2d30;
$white: #fff;
$black: #252324;
$chalk: #f3f1ea;
$green: #b6fde3;
$dark-green: #2e3733;

// Spacing
$xs-space: 6px;
$small-space: 12px;
$medium-space: 24px;
$large-space: 36px;
$xl-space: 42px;

// Content Space
$mobile-narrow: 260px;
$desktop-narrow: 440px;
$desktop-medium: 540px;
$desktop-wide: 900px;
